@model IEnumerable<FerramentaCadastroModelo.Dominio.NivelMaturidade>

@{
    ViewBag.Title = "Niveis de Marturidade";
}



<p>
    @Html.ActionLink("Add Nivel de Maturidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNivelMaturidade }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNivelMaturidade }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDNivelMaturidade })
        </td>
    </tr>
}

</table>
