@model FerramentaCadastroModelo.Dominio.MetaEspecifica

@{
    ViewBag.Title = "Detalhes ";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaProcesso.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaProcesso.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDMetaEspecifica }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
