@model IEnumerable<FerramentaCadastroModelo.Dominio.MetaEspecifica>

@{
    ViewBag.Title = "Metas Especificas";
}



<p>
    @Html.ActionLink("Add Meta Especifica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaProcesso.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AreaProcesso.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDMetaEspecifica }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDMetaEspecifica }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDMetaEspecifica })
        </td>
    </tr>
}

</table>
