@model FerramentaCadastroModelo.Dominio.MetaGenerica

@{
    ViewBag.Title = "Detalhes";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelCapacidade.SiglaNivelCapacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelCapacidade.SiglaNivelCapacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDMetaGenerica }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
