@model IEnumerable<FerramentaCadastroModelo.Dominio.MetaGenerica>

@{
    ViewBag.Title = "Metas Genericas";
}


<p>
    @Html.ActionLink("Add Meta Generica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelCapacidade.SiglaNivelCapacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelCapacidade.SiglaNivelCapacidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDMetaGenerica }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDMetaGenerica }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDMetaGenerica })
        </td>
    </tr>
}

</table>
