@model IEnumerable<FerramentaCadastroModelo.Dominio.NivelCapacidade>

@{
    ViewBag.Title = "Niveis de Capacidade";
}


<p>
    @Html.ActionLink("Add Nivel de Capacidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiglaNivelCapacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiglaNivelCapacidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNivelCapacidade }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNivelCapacidade }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDNivelCapacidade })
        </td>
    </tr>
}

</table>
