@model IEnumerable<FerramentaCadastroModelo.Dominio.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<p>
    @Html.ActionLink("Add Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDCategoria }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDCategoria }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDCategoria })
        </td>
    </tr>
}

</table>
