@model IEnumerable<FerramentaCadastroModelo.Dominio.ProdutoTrabalho>

@{
    ViewBag.Title = "Produtos de Trabalho";
}


<p>
    @Html.ActionLink("Add Produto de Trabalho", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamplate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamplate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDProdutoTrabalho }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDProdutoTrabalho }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDProdutoTrabalho })
        </td>
    </tr>
}

</table>
