@model IEnumerable<FerramentaCadastroModelo.Dominio.ProdutoTrabalho>

@{
    ViewBag.Title = "Produtos de Trabalho";
}


<p>
    @Html.ActionLink("Add novo Produto de trabalho", "Create", FormMethod.Post, new { enctype = "multipart/form-data", id = "myUploadForm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeArquivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
           

                <a href="@Url.Action("Download", "ProdutoTrabalhoes", new { id = item.IDProdutoTrabalho })">@Html.DisplayFor(modelItem => item.NomeArquivo)</a>

       
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDProdutoTrabalho }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDProdutoTrabalho }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IDProdutoTrabalho })
           
        </td>
    </tr>
}

</table>
