@model IEnumerable<FerramentaCadastroModelo.Dominio.PraticaEspecifica>

@{
    ViewBag.Title = "Praticas Especificas";
}

<p>
    @Html.ActionLink("Add Pratica Especifica", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MetaEspecifica.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MetaEspecifica.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPraticaEspecifica }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPraticaEspecifica }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPraticaEspecifica })
        </td>
    </tr>
}

</table>
