@model List<FerramentaCadastroModelo.Dominio.Modelo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")







<table class="table table-striped">
    <tr>
        <th>
            Sigla
        </th>
        <th>
            Nome
        </th>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>

    @foreach (var modelo in Model)
    {
        <tr>
            <td>
               @modelo.Sigla
            </td>
            <td>
                @modelo.Nome
            </td>
            <td>
                @modelo.Descricao
            </td>
            <td>
                <a href="@Url.Action("DadosCompletos", "Home", new { id = modelo.IDModelo })">Exportar para PDF</a>
            </td> 
        </tr>
    }

</table>
              

