
@model System.Data.DataSet
@using System.Data;


@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}



<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Tables[0].Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Tables[0].Columns)
                {
                    <td>@row[col.ColumnName]</td>
                }
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Tables[1].Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[1].Rows)
        {
            <tr>
                @foreach (DataColumn col in Model.Tables[1].Columns)
                {
                    <td>@row[col.ColumnName]</td>
                }
            </tr>
        }
    </tbody>
</table>


<div><a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Home")">Voltar</a></div>